<!doctype html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <title>Twig test</title>
        {% endblock %}
        {% css %}
    </head>
    <body>

    {% block body %}



    {% endblock body %}

    {% js %}
    </body>
</html>